<mat-toolbar color="primary" style="margin-bottom: 10px;">
  <button mat-icon-button style="display: flex; width: 20px !important; height: 20px !important; align-items: center !important; justify-content: center !important; background-color: black; padding: 7px; margin-right: 10px;" (click)="fechar()">
    <mat-icon style="display: flex; align-items: center !important; justify-content: center !important;">arrow_back</mat-icon>
  </button>
  <span style="font-size: 16px !important; padding: 2px;">Cadastro de Aluno</span>
</mat-toolbar>

<div style="margin-bottom: 25px; margin-left: 5px;" class="form-wrapper">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="salvar()">

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;" >
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>Nascimento</mat-label>

      <input matInput [matDatepicker]="picker" formControlName="datanasc">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 25px; width: 80%;">
      <mat-label>Local</mat-label>
      <input type="text" matInput [formControl]="localCtrl" [matAutocomplete]="autoLocal" required>
      <mat-autocomplete #autoLocal="matAutocomplete" (optionSelected)="onLocalSelected($event.option.value)">
        <mat-option *ngFor="let local of localsFiltrados" [value]="local.nome">
          {{ local.nome }} — {{ local.endereco }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div style="margin-left: 3px; margin-top: 5px; margin-bottom: 5px">
        <mat-slide-toggle formControlName="ativo" style="margin-left: 3px; margin-bottom: 5px">Aluno ativo</mat-slide-toggle>
    </div>

    <!--dias horas-->
    <div style="margin-top: 16px; margin-bottom: 16px;">
      <label style="color: white !important; margin-left: 8px; font-weight: 50;">Dias de Aula:</label>

      <div formArrayName="diasAula">
        <ng-container *ngFor="let grupo of diasAulaArray.controls; let j = index">
          <div [formGroupName]="j" style="display: flex; align-items: center; gap: 8px; margin-bottom: 8px;">

            <mat-checkbox formControlName="ativo">
              {{ diasSemana[j] }}
            </mat-checkbox>

            <mat-form-field appearance="fill" style="width: 150px;">
              <mat-label>Horário</mat-label>
              <mat-select formControlName="hora">
                <mat-option *ngFor="let h of horasPossiveis" [value]="h">{{ h }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </ng-container>
      </div>
    </div>

    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Salvar
      </button>
    </div>
  </form>
</div>