<mat-toolbar color="primary">
  <button mat-icon-button (click)="fechar()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Cadastro de Aluno</span>
</mat-toolbar>

<div class="form-wrapper">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="salvar()">

    <mat-form-field appearance="outline" style="margin-left: 3px; margin-bottom: 5px">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 3px; margin-bottom: 5px">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 3px; margin-bottom: 5px">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 3px; margin-bottom: 5px">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 3px; margin-bottom: 5px">
      <mat-label>Nascimento</mat-label>

      <input matInput [matDatepicker]="picker" formControlName="datanasc">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full" style="margin-left: 3px; margin-bottom: 5px">
      <mat-label>Local</mat-label>
      <input type="text" matInput [formControl]="localCtrl" [matAutocomplete]="autoLocal" required>
      <mat-autocomplete #autoLocal="matAutocomplete" (optionSelected)="onLocalSelected($event.option.value)">
        <mat-option *ngFor="let local of localsFiltrados" [value]="local.nome">
          {{ local.nome }} — {{ local.endereco }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Botão de adicionar novo -->
  <!--  <button mat-button color="primary" (click)="abrirModalNovoLocal()" *ngIf="!localEncontrado">
      + Adicionar novo local
    </button>
  -->
    
  <div>
      <mat-slide-toggle formControlName="ativo" style="margin-left: 3px; margin-bottom: 5px">Aluno ativo</mat-slide-toggle>
  </div>
  
    <!--dias horas-->
    <div style="margin-top: 16px; margin-bottom: 16px;">
      <label style="font-weight: 500;">Dias de Aula:</label>

      <div formArrayName="diasAula">
        <ng-container *ngFor="let grupo of diasAulaArray.controls; let j = index">
          <div [formGroupName]="j" style="display: flex; align-items: center; gap: 8px; margin-bottom: 8px;">

            <mat-checkbox formControlName="ativo">
              {{ diasSemana[j] }}
            </mat-checkbox>

            <mat-form-field appearance="outline" style="width: 150px;">
              <mat-label>Horário</mat-label>
              <mat-select formControlName="hora">
                <mat-option *ngFor="let h of horasPossiveis" [value]="h">{{ h }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </ng-container>
      </div>
    </div>
    <!--
    <div style="margin-top: 16px; margin-bottom: 16px;">
      <label style="font-weight: 500;">Dias de Aula:</label>

      <ng-container >
        <div formArrayName="diasAula">
          <ng-container *ngFor="let grupo of diasAulaArray.controls; let j = index">
            <div [formGroupName]="j" style="display: flex; align-items: center; gap: 8px; margin-bottom: 8px;">

              <mat-checkbox formControlName="ativo">
                {{ diasSemana[configAgenda.diasAtendimento[j]] }}
              </mat-checkbox>

              <mat-form-field appearance="outline" style="width: 150px;">
                <mat-label>Horário</mat-label>
                <mat-select formControlName="hora">
                  <mat-option *ngFor="let h of horasPossiveis" [value]="h">{{ h }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    -->
    <!--dias horas-->

    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Salvar
      </button>
    </div>
  </form>
</div>


<!--      <input matInput type="date" formControlName="datanasc" />  -->