<p>Mudar status ou editar dados!</p>

<div class="status-sheet">
  <button mat-button (click)="select(1)">✅ Agendado</button>
  <button mat-button (click)="select(2)">🔵 Concluído</button>
  <button mat-button (click)="select(3)">❌ Cancelado</button>
  <button mat-button (click)="select(4)">🔴 Faltou</button>
  <mat-divider></mat-divider>
  <button mat-button (click)="editar()">✏️ Editar</button>
  <button mat-button (click)="descricao()">✏️ Descrição</button>
  <button mat-button (click)="treino()">✏️ Treino</button>
</div>