.mrgtopbootom {
   margin-top : 40px;
   margin-bottom : 40px;
}
/*novo*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*overflow: visible;*/
  overflow: hidden;
  background: #000;
}

/*teste android*/
body::before {
  position: fixed;
  top: 0;
  left: 0;
  background: yellow;
  color: black;
  z-index: 9999;
  font-size: 12px;
}


mat-sidenav-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

router-outlet ~ * {
  flex-grow: 1;
  overflow: auto; /* permite rolar o conteúdo da página */
}

/*novo*/
app-top {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 41px;
  padding-top: env(safe-area-inset-top, 0px); /* espaço p/ barra de status Android/iOS */
  /*background-color:  rgb(244, 138, 28);*/
  background-color: rgb(245, 118, 26);
  z-index: 1000;
}

/*novo teste android*/
app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px; /* aumente se estiver cortando */
  padding-bottom: 16px; /* ajuste conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffa726;
  z-index: 1000;
}

/*novo android*/
main {
  padding-bottom: 80px; /* espaço extra pro footer não cobrir nada */
}

/*novo*/
main.conteudo {
  overflow-y: auto;
  height: 100%;
}

.conteudo {
  padding-top: calc(var(--safe-top, 40px) + 40px);
  /*padding-top: min(calc(var(--safe-top, 40px) + 40px), 40px);*/
  /*min-height: 100vh;*/
  background-color: #000; /* fundo da home/preto */
  color: white;
  /*overflow-y: auto;*/
  box-sizing: border-box; /* importante para incluir o padding no cálculo */
  /*overflow: hidden;*/ /* evita scroll em conteúdo curto */
  min-height: calc(100vh - var(--safe-top, 40px) - var(--safe-bottom, 40px));  
}

@media (max-width: 750px) {
  app-top {
    --base-header-height: 40px; /* a altura "visual" da barra */
    padding-top: var(--safe-top, 40px); /* queda segura se algo der errado */
    height: calc(var(--base-header-height) + var(--safe-top, 40px));

    /*padding-top: max(env(safe-area-inset-top, 0px), 40px); 
    height: calc(40px + max(env(safe-area-inset-top, 0px), 40px));*/
  }

  app-footer {
    /* altura de conteúdo + inset */
    --base-footer-height: 40px; /* a altura "visual" da barra */
    padding-bottom: var(--safe-bottom, 40px); /* queda segura se algo der errado */
    height: calc(var(--base-footer-height) + var(--safe-bottom, 40px));

    /*padding-bottom: max(env(safe-area-inset-bottom, 0px), 40px);
    height: calc(40px + max(env(safe-area-inset-bottom, 0px), 40px));*/
  }

  /* O resto da página começa depois do header */
  .page-content {
    padding-top: calc(var(--base-header-height) + var(--safe-top, 40px));
  }
}


