.home-container {
  padding: 16px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 64px); /* Ajustar com base na altura do navbar */
  background-color: #f5f5f5; /* Cor do fundo */
}