
body, html {
  margin-top: 0px!important;
  padding-top: 0px!important;
}

  


.servicos-container {
  padding-left: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 90vh; /* ocupa quase a tela toda */
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
  background: black;
  overflow: hidden; /* evita barra de rolagem dupla */
  /*padding-top: 40px;*/
}

.toolbar-servicos {
  flex-shrink: 0;
  position: sticky; /* fica preso no topo */
  top: 0px;
  z-index: 10;
}

.btn-voltar {
  border-radius: 50%;
  background-color: black;
  color: white;
  margin-right: 10px;
}

.conteudo-servicos {
  flex: 1;
  overflow-y: auto; /* só essa parte rola */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.btn-salvar {
  margin-top: 16px;
  background-color: #4d494d;
  color: rgb(226, 155, 226);
  border-radius: 18px;
  font-weight: bold;
}

.mat-icon-button {
  background: none !important;
  border-radius: 0 !important;
}
