.aluno-lista-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  overflow: visible;
}

.aluno-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  overflow: visible;
}

.aluno-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: visible;
}

.aluno-acoes {
  display: flex;
  align-items: center;
}

.inativo {
  color: red;
  font-size: 12px;
}

.full-screen-dialog .mat-dialog-container {
  padding: 0 !important;
  border-radius: 0;
  height: 100vh;
  overflow: visible;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.form-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 70vh;   /* limita a altura dentro do dialog */
  overflow-y: auto;   /* rolagem só no formulário */
}

.custom-toolbar-title {
  font-size: 14px !important;
}

.campo-de-edicao {
  width: 80%;
  margin-bottom: 5px;
  margin-left: 3px;
}

.mat-dialog-container {
  max-height: 90vh !important; /* limita a altura */
  overflow-y: auto !important; /* ativa rolagem */
}

buttonxxx {
  padding: 0.7rem 1.2rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-salvarxxx {
  display: block;
  /*width: 98%;*/
  /*padding: 0.75rem;*/
  /*font: robolt;*/
  font-size: 0.8rem;
  background-color: #4d494d;
  color: rgb(226, 155, 226);
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s ease;
  overflow: hidden;
}

.btn-salvar:hoverxxx {
  background-color: #6d5266;
  border-radius: 18px;
  transition: background-color 0.2s ease;
}
/*
.peso-container {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.peso-kg,
.peso-g {
  flex: 1;
}*/

.peso-card {
  margin-left: 3px;
  margin-bottom: 5px; 
  width: 90%;
  padding: 0px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.peso-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.peso-kg,
.peso-g {

  flex: 1 1 100px;
  min-width: 100px;
  max-width: 450px;
}

.peso-total {
  margin-top: 0px;
  margin-right: 15px;
  font-size: 15px;
  text-align: right;
  color: #757070;
}