body {
  overflow: visible;
}

.header {
  position: fixed;
  display: flex;
  top: 0px; 
  width: 100%;
  height: 40px;
  background-color: black;/* rgb(245, 118, 26);*/
  color: rgb(9, 2, 24);
  text-align: center;
  margin: 0px;
}

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .drop-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
  }
  .material-icons{
    font-family: 'Material Icons' !important;
  }

.img-logo {
  width: 38px;
  height: 38px;
  display: block;
  margin-right: 0px;
  background-color: white;
}

.logo-wrap {
  display: flex;
  align-items: center;
  margin-right: 2px;
  border-top: 1px solid rgb(245, 118, 26);
}

@media (max-width: 750px) {

  .header {
    --base-header-height: 40px; /* a altura "visual" da barra */
    padding-top: var(--safe-top, 40px); /* queda segura se algo der errado */
    height: calc(var(--base-header-height) + var(--safe-top, 40px));
  }
}