<ng-container *ngIf="isLoggedIn;">
    
    <!-- Linha superior com botões -->
  
    <mat-toolbar class="header mat-elevation-z8" >
      <div class="menu-container">
        <div>h2u Agenda</div>
        <div class="drop-menu">
          <button mat-button [matMenuTriggerFor]="menu">Cadastro</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Personal</button>
            <button mat-menu-item routerLink="/alunoLista">Aluno</button>
            <button mat-menu-item>Equipamentos</button>
            <button mat-menu-item>Rodízio Equip</button>
          </mat-menu>
        </div>
        <div>
          <button mat-icon-button routerLink="/agenda">
            <mat-icon>calendar_month</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button  routerLink="/financeiro">
            <mat-icon>attach_money</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button routerLink="/configuracoes">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon (click)="logout()">logout</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
  
  
</ng-container>
