


<mat-toolbar color="primary" style="margin-bottom: 0px; margin-top: 5px; padding-left:10px;">
  <label style=" display: flex; align-items: center !important;">
  <button mat-icon-button style="border-width:0px; display: flex; width: 20px !important; height: 20px !important; align-items: center !important; justify-content: center !important; background-color: black; color:white; padding: 7px; margin-right: 10px;" (click)="fechar()">
        <mat-icon style="display: flex; align-items: center !important; justify-content: center !important;">arrow_back</mat-icon>
  </button>
  <span style="font-size: 16px !important; padding: 2px;">{{ data.dataAg | date:'dd/MM' }} {{ data.dataAg | date:'EEE' }} {{ data.hour }} - {{data.aluno}} </span>
  </label>

</mat-toolbar>
  <mat-divider style="margin-bottom: 0px; margin-top: 0px; margin-left:10px; margin-right:10px;"></mat-divider>     

<div class="dialog-content" *ngIf="agendaTreino as treino">
 <h2>Treino: {{ treino.treino }}</h2>

<div class="progress-bar">
  <div class="progress" [style.width.%]="(concluidos / treino.items.length) * 100"></div>
</div>
  <div>
    Progresso: {{ concluidos }}/{{ treino.items.length }}
  </div>

  <ul style="padding-left:5px;">
    <li *ngFor="let item of treino.items" class="treino-item" [class.concluido]="item.concluido">
      <label>
      <input type="checkbox"
            [checked]="item.concluido"
             (change)="marcar(item, $event)">
      
      {{ item.exercicio }}
      ({{ item.serie }}x{{ item.repeticao }})
      </label>
    </li>
  </ul>

  <div class="acoes-links">

    <span class="acao verde" (click)="marcarTodos()">
      ✓ Todos
    </span>

    <span class="divisor">|</span>

    <span class="acao vermelho" (click)="desmarcarTodos()">
      ✕ Limpar
    </span>

  </div>
</div>