body {
  color: white;
  background-color: aqua;
}

.dialog-content {
  /*background: #ffffff;
  color: #000000;*/
  background: black;
  color: white;
  padding: 20px;
  border-radius: 16px;
}

/* garante que nada herde branco do body */
.dialog-content * {
  /*color: #000000;*/
  color:white
}

.treino-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  background: black;
}

.btn-voltar {
  border-radius: 50%;
  background-color: black;
  width: 36px;
  height: 36px;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  /*margin-right: 10px;*/
  padding: 0px 0px 0px 0px;
}

.mat-toobar .mat-toolbar-row .mat-toolbar-single-row{
  padding: 0 0px !important;
}

minha-toobar {
  padding: 0 0px !important;
}

.btn-voltar mat-icon {
  color: white;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 10px;
  margin: 10px 0;
}

.progress {
  height: 100%;
  background: #4CAF50;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.treino-item.concluido {
  opacity: 0.6;
  text-decoration: line-through;
}


.acoes-links{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:12px;
  margin-top:20px;
  font-size:14px;
}

.acao{
  font-weight:600;
  cursor:pointer;
}

.verde{
  color:#4caf50 !important;;
}

.vermelho{
  color:#f44336 !important;;
}

.divisor{
  color:#777 !important;;
}



.bntmarcarxxx {
  background: #4CAF50;
  color: white;
  border: none;
  margin: 5px;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.bntmarcarxxx:hover {
  background: #4CAF50;
  color: white;
}

.bntdesmarcarxxx {
  background: #970b0b;
  color: white;
  border: none;
  margin: 5px;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.bntdesmarcarxxx:hover {
  background: #970b0b;
  color: white;
}