<div class="week-navigation">
  <button mat-raised-button class="btn-salvar" style="margin-left: 4px; margin-right: 3px;" (click)="previousWeek()">
    <mat-icon>arrow_back</mat-icon>Anterior
  </button>
  <!--<span class="week-label">{{ week[0] | date:'dd/MM/yyyy' }} - {{ week[6] | date:'dd/MM/yyyy' }}</span>-->
<!--  
  <span class="week-label">
    {{ week[0] | date:'dd/MM/yyyy' }} - {{ week[week.length - 1] | date:'dd/MM/yyyy' }}
  </span>
-->
  <!-- botão para abrir o seletor -->
  <button mat-raised-button class="btn-salvar" style="margin-left: 2px; margin-right: 3px;" (click)="abrirDialogoGerarAgenda()">
    Gerar Agenda
  </button>

  <button mat-raised-button class="btn-salvar" style="margin-left: 2px; margin-right: 3px;" (click)="nextWeek()">
    <div style="display: flex; align-items: center; gap: 6px;">
    Próxima<mat-icon>arrow_forward</mat-icon>
    </div>
  </button>

</div>


<!-- MatDatepicker só para mês/ano -->
 <mat-form-field appearance="fill" *ngIf="mostrarSeletorMes">
  <mat-label>Escolha o mês</mat-label>
  <mat-select [value]="mesSelecionado" (selectionChange)="gerarListaMeses()">
    <mat-option *ngFor="let mes of mesesDisponiveis" [value]="mes">
      {{ mes.label }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="agenda-scroll-wrapper">
  <div class="row" cdkDropListGroup>
    <div *ngIf="appointments.length >= 0" class="agenda-grid" [style.grid-template-columns]="'60px repeat(' + week.length + ', 1fr)'">
      <!-- Cabeçalho -->
      <div class="header-cell hour-cell">Hora</div>
      <div class="header-cell" *ngFor="let day of week">
        {{ day | date: 'EEE dd/MM' }}
      </div>

      <!-- Corpo -->
      <ng-container *ngFor="let hour of hours; trackBy: trackByHour">
        <ng-container *ngFor="let minute of minutes; let i = index; trackBy: trackByMinute">

          <div *ngIf="i === 0" class="hour-cell" [style.grid-row]="'span ' + minutes.length">
            {{ hour }}
          </div>

          <!-- Células -->
          <div *ngFor="let day of week"
              class="agenda-cell" 
              [ngClass]="{ 'empty-cell': !hasAppointment(day, hour, minute) }"
              (mouseenter)="hoveredCell = day + '-' + hour + '-' + minute"
              (mouseleave)="hoveredCell = null"
              (click)="isMobile && openAppointmentModal(day, hour, minute)">

            <!-- Dropzone -->
            <div cdkDropList
                [cdkDropListData]="getDropListData(day, hour, minute)"
                class="appointment-dropzone"
                (cdkDropListDropped)="onDrop($event)"
                [cdkDropListSortingDisabled]="true">
              <!--<div *ngFor="let appt of getAppointments(day, hour, minute); trackBy: trackByAppt"-->
              <!--<div *ngFor="let appt of (appointments$ | async) | appointmentsFiltradosPor(day, hour, minute); trackBy: trackByAppt"-->

              <ng-container *ngIf="appointments$ | async as appointments">
                <div *ngFor="let appt of (appointments | appointmentsFiltradosPor: day : hour : minute); trackBy: trackByAppt">
                  <div
                    cdkDrag
                    [cdkDragStartDelay]="{ touch: 300, mouse: 0 }"
                    (cdkDragStarted)="draggedAppointment = appt"
                    (cdkDragEnded)="draggedAppointment = null"
                    [cdkDragData]="{ appointment: appt, fromDay: day, fromHour: hour, fromMinute: minute }"
                    class="appointment"
                    [style.backgroundColor]="getStatusCor(appt.statusId)"
                    (click)="abrirMenuStatus(appt, day, hour, minute); $event.stopPropagation()">

                    <!-- Preview que aparece durante o drag -->
                    <ng-template cdkDragPreview>
                      <div class="drag-preview">
                        <strong>{{ appt.aluno }}</strong><br />
                        <ng-container *ngIf="configAgenda.mostrarLocal"> <strong> {{ appt.local }}</strong><br/> </ng-container>
                        <ng-container *ngIf="configAgenda.mostrarServico"> <strong>{{ appt.servico }}</strong><br/> </ng-container>
                        <ng-container *ngIf="configAgenda.mostrarEquipto"> <strong>{{ appt.equipto }}</strong><br/> </ng-container>
                      </div>
                    </ng-template>

                    <!-- Placeholder que substitui o item no lugar de origem -->
                    <ng-template cdkDragPlaceholder>
                      <div class="appointment-placeholder"></div>
                    </ng-template>

                    <strong>{{ appt.aluno }} </strong><br />
                    <ng-container *ngIf="configAgenda.mostrarLocal"> <strong> {{ appt.local }}</strong><br/> </ng-container>
                    <ng-container *ngIf="configAgenda.mostrarServico"> <strong>{{ appt.servico }}</strong><br/> </ng-container>
                    <ng-container *ngIf="configAgenda.mostrarEquipto"> <strong>{{ appt.equipto }}</strong><br/> </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>

            <!-- Botão + -->
            <div *ngIf="!isMobile && !isDragging && hoveredCell === (day + '-' + hour + '-' + minute)"
                class="cell-add-button"
                (click)="openAppointmentModal(day, hour, minute); $event.stopPropagation()">
              +
            </div>
            <button *ngIf="isMobile" class="btn-float-add" (click)="openAppointmentModal(day, hour, minute); $event.stopPropagation()">
              +
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
