<div class="tela-container">
  <div class="filtros">
    <!--  
    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px;">
      <mat-label>Pesquisar</mat-label>
      <input matInput [(ngModel)]="filtroTexto" (keyup.enter)="aplicarFiltro()" />
      <button mat-icon-button matSuffix (click)="aplicarFiltro()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    -->
    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px;">
      <mat-label>Status</mat-label>
      <mat-select [(value)]="filtroStatus" (selectionChange)="aplicarFiltro()">
        <mat-option value="Todos">Todos</mat-option>
        <mat-option value="Ativos">Ativos</mat-option>
        <mat-option value="Inativos">Inativos</mat-option>
      </mat-select>
    </mat-form-field>
    <!--
    <mat-menu #menuOrdenar="matMenu">
      <button mat-menu-item (click)="ordenarPor('nome')">Nome</button>
      <button mat-menu-item (click)="ordenarPor('telefone')">Telefone</button>
    </mat-menu>
    -->
    
    <button mat-mini-fab style="display: flex; align-items: center !important; justify-content: center !important; background-color: #28a745;" (click)="novoTabelaPreco()" aria-label="Novo Tabela Preço">
      <mat-icon style="display: flex; align-items: center !important; justify-content: center !important;">add</mat-icon>
    </button>
  </div>

  <div class="lista-container">
    <div class="lista-header">
      <span>Plano</span>
      <span>Frequencia</span>
      <span>Preço</span>
      <span>Local</span>
      <span>Serviço</span>
      <span>Status</span>
    </div>

    <div class="lista-scroll">
      <div 
        class="aluno-item" 
        *ngFor="let tabelaPreco of tabelaPrecosFiltrados" 
        (click)="onEditar(tabelaPreco)"
      >
        <span>{{ tabelaPreco.plano }}</span>
        <span>{{ tabelaPreco.frequencia }}</span>
        <span>R$ {{ tabelaPreco.valor | number:'1.2-2'}}</span>
        <span>{{ tabelaPreco.local }}</span>
        <span>{{ tabelaPreco.servico }}</span>
        <span class="status" [ngClass]="tabelaPreco.ativo ? 'ativo' : 'inativo'">
          <ng-container [ngSwitch]="tabelaPreco.ativo">
            <span *ngSwitchCase="true">✅ Ativo</span>
            <span *ngSwitchCase="false">❌ Inativo</span>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</div>