<h2>Login</h2>
<form (ngSubmit)="onLogin()" #loginForm="ngForm">
  <input
    type="text"
    placeholder="Usuário"
    [(ngModel)]="username"
    name="username"
    required
  />
  <div *ngIf="loginForm.submitted && !username">
    <small>O campo usuário é obrigatório.</small>
  </div>

  <input
    type="password"
    placeholder="Senha"
    [(ngModel)]="password"
    name="password"
    required
  />
  <div *ngIf="loginForm.submitted && !password">
    <small>O campo senha é obrigatório.</small>
  </div>

  <button type="submit" [disabled]="isLoading">
    <span *ngIf="!isLoading">Entrar</span>
    <span *ngIf="isLoading">Carregando...</span>
  </button>

</form>
<p *ngIf="loginFailed">Credenciais inválidas. Tente novamente!</p>