<mat-toolbar color="primary" style="margin-bottom: 10px; margin-top: 5px;">
  <button mat-icon-button style="display: flex; width: 20px !important; height: 20px !important; align-items: center !important; justify-content: center !important; background-color: black; padding: 7px; margin-right: 10px;" (click)="fechar()">
    <mat-icon style="display: flex; align-items: center !important; justify-content: center !important;">arrow_back</mat-icon>
  </button>
  <span style="font-size: 16px !important; padding: 2px;">Cadastro de Aluno</span>
</mat-toolbar>

<div style="margin-bottom: 25px; margin-left: 5px;" class="form-wrapper">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="salvar()">


    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>Aluno</mat-label>
      <input
        type="text"
        matInput
        [formControl]="alunoCtrl"
        [matAutocomplete]="autoAluno"
        (blur)="onAlunoBlur()"
        required>
      <mat-autocomplete
        #autoAluno="matAutocomplete"
        (optionSelected)="onAlunoSelecionado($event)">
        <mat-option *ngFor="let aluno of alunosFiltrados" [value]="aluno.nome">
          {{ aluno.nome }} 
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>Plano</mat-label>
      <mat-select formControlName="planoid">
        <mat-option *ngFor="let p of planos" [value]="p.id">{{ p.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>Frequência</mat-label>
      <mat-select formControlName="frequenciaid">
        <mat-option *ngFor="let f of frequencias" [value]="f.id">{{ f.nome }}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;" >
      <mat-label>Valor Tabela</mat-label>
      <input matInput
             type="number"
             formControlName="valortabela"
             step="0.01"
             min="0"
             (blur)="onValorBlur()"/>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;" >
      <mat-label>Valor Desconto</mat-label>
      <input matInput
             type="number"
             formControlName="valordesconto"
             step="0.01"
             min="0"
             (blur)="onValorBlur()"/>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;" >
      <mat-label>Valor a Receber</mat-label>
      <input matInput
             type="number"
             formControlName="valorreceber"
             step="0.01"
             min="0"
             (blur)="onValorBlur()"
             readonly/>
    </mat-form-field>
    
    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>Forma Pagamento</mat-label>
      <mat-select formControlName="formapagtoid">
        <mat-option *ngFor="let fp of formaspagamento" [value]="fp.id">{{ fp.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;" >
      <mat-label>Dia Vencimento</mat-label>
      <input matInput
             type="number"
             formControlName="diavcto"
             step="1"
             min="1"/>
    </mat-form-field>
    
    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>Início</mat-label>

      <input matInput [matDatepicker]="pickerDataIni" formControlName="dataini">
      <mat-datepicker-toggle matSuffix [for]="pickerDataIni"></mat-datepicker-toggle>
      <mat-datepicker #pickerDataIni></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 3px; margin-bottom: 5px; width: 80%;">
      <mat-label>Fim</mat-label>

      <input matInput [matDatepicker]="pickerDataFim" formControlName="datafim">
      <mat-datepicker-toggle matSuffix [for]="pickerDataFim"></mat-datepicker-toggle>
      <mat-datepicker #pickerDataFim></mat-datepicker>
    </mat-form-field>

    <div>
      <button mat-raised-button type="submit" [disabled]="form.invalid || form.pristine" class="btn-salvar">
        Salvar
      </button>
    </div>
  </form>
</div>