<h2 mat-dialog-title>Gerar Agenda do Mês</h2>
<small style="margin-left: 20px; margin-right: 20px; display: block; color: #ffabf3;">Selecione um mês para gerar a agenda com base nos dias e horários dos alunos.</small>

<mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Escolha o mês</mat-label>
    <mat-select [(value)]="mesSelecionado">
      <mat-option *ngFor="let mes of meses" [value]="mes">
        {{ mes.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="btn-salvar" (click)="dialogRef.close()">Cancelar</button>
  <button mat-button class="btn-salvar" (click)="confirmar()">Confirmar</button>
</mat-dialog-actions>
