<app-auth-layout>
  <div class="mrgtopbootom">
    <h2>Conta Nova</h2>
    <form [formGroup]="formData" (ngSubmit)="onRegister()" class="form-container">
      <div class="form-wrapper">
        <mat-form-field appearance="outline" class="campo-form">
          <mat-label>Tipo de usuário</mat-label>
          <mat-select formControlName="tipoUsuario" required>
            <mat-option value="">Selecione...</mat-option>
            <mat-option value="aluno">Aluno</mat-option>
            <mat-option value="personal">Personal</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="campo-form">
          <mat-label>Nome completo</mat-label>
          <input matInput formControlName="nome" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="campo-form">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
      <!--
        <mat-form-field appearance="outline" class="campo-form">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="senha" type="password" required>
        </mat-form-field>
      -->
        <mat-form-field appearance="outline" class="campo-form">
          <mat-label>Senha</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="senha"
            (input)="checkPasswordStrength(formData.get('senha')?.value)"
            required
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Mostrar senha'"
            [attr.aria-pressed]="!hidePassword"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formData.get('senha')?.invalid && formData.get('senha')?.touched">
            Senha obrigatória
          </mat-error>
          <mat-error *ngIf="formData.get('senha')?.hasError('minlength')">
            Mínimo de 8 caracteres.
          </mat-error>
          <mat-error *ngIf="formData.get('senha')?.hasError('pattern')">
            A senha deve conter letra maiúscula, minúscula, número e símbolo.
          </mat-error>

        </mat-form-field>

<div class="lado-alado ">
        <p class="password-strength-text"> <!--*ngIf="formData.get('senha')?.value"-->
          Força: <strong [style.color]="passwordColor">{{ passwordLabel }} </strong>
        </p>  
        <div class="password-strength strength-ba" [ngStyle]="{
                      width: passwordStrength *.6 + '%',
                      backgroundColor: passwordColor
                    }"></div>        
  <!-- Barra de força 
        <div class="password-strength">
          <div
            class="strength-bar"
            [ngStyle]="{
              width: passwordStrength + '%',
              backgroundColor: passwordColor
            }"
          ></div>
        </div>
-->

</div>                
        <div class="password-rules">
          <p>Sua senha deve conter:</p>
          <ul>
            <li [class.valid]="passwordRequirements.length">
              {{ passwordRequirements.length ? '✔️' : '❌' }} Mínimo de 8 caracteres
            </li>
            <li [class.valid]="passwordRequirements.uppercase">
              {{ passwordRequirements.uppercase ? '✔️' : '❌' }} Uma letra maiúscula
            </li>
            <li [class.valid]="passwordRequirements.number">
              {{ passwordRequirements.number ? '✔️' : '❌' }} Um número
            </li>
            <li [class.valid]="passwordRequirements.special">
              {{ passwordRequirements.special ? '✔️' : '❌' }} Um símbolo (&#64;, #, !, etc.)
            </li>
          </ul>
        </div>

        <div *ngIf="tipoUsuario === 'aluno'">
          <mat-form-field appearance="outline" class="campo-form">
            <mat-label>Código do convite</mat-label>
            <input matInput formControlName="codigoConvite">
          </mat-form-field>
        </div>
<div class="lado-alado" style="margin-bottom: 20px;">
        <button mat-raised-button style="margin-top:10px" color="primary" type="submit" [disabled]="formData.invalid || !canSave">
          Cadastrar
        </button>

        <div class="links">
          <a routerLink="/login">Voltar ao login</a>
        </div>
</div>
      </div>
    </form>
  </div>
</app-auth-layout>