.btn-salvarxxx {
  display: block;
  /*width: 98%;*/
  /*padding: 0.75rem;*/
  /*font: robolt;*/
  font-size: 0.8rem;
  background-color: #4d494d;
  color: rgb(226, 155, 226);
  border: none;
  border-radius: 18px;
  cursor: pointer;
  /*font-weight: bold;*/
  transition: background-color 0.5s ease;
  overflow: hidden;
}

.btn-salvarxxx:hover {
  background-color: #6d5266;
  border-radius: 18px;
  transition: background-color 0.2s ease;
}

.local-lista-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  overflow: visible;
}

.local-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  overflow: visible;
}

.local-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: visible;
}

.local-acoes {
  display: flex;
  align-items: center;
}

.inativo {
  color: red;
  font-size: 12px;
}

.full-screen-dialog .mat-dialog-container {
  padding: 0 !important;
  border-radius: 0;
  height: 100vh;
  overflow: visible;
}

.form-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: visible;
}
.custom-toolbar-title {
  font-size: 14px !important;
}

.campo-de-edicao {
  width: 80%;
  margin-bottom: 5px;
  margin-left: 3px;
}
