<div class="configuracao-container">
  <mat-toolbar color="primary">
    <button mat-icon-button class="btn-voltar" (click)="fechar()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="titulo-toolbar">Configurações da agenda</span>
  </mat-toolbar>

  <div class="conteudo-configuracao">
    <mat-card *ngIf="configSelecionada" >
      <mat-card-content style="display: flex; flex-direction: column; gap: 8px;">

        <!-- Dias da semana -->
        <label class="form-label" >Dias de Atendimento:</label>
        <div class="dias-checkboxes">
          <mat-checkbox *ngFor="let dia of diasSemana"
                        [checked]="configSelecionada.diasAtendimento.includes(dia.valor)"
                        (change)="toggleDia(dia.valor)">
            {{ dia.nome }}
          </mat-checkbox>
        </div>

        <!-- Hora início -->
        <mat-form-field appearance="fill" class="campo_form">
          <mat-label>Hora Início</mat-label>
          <mat-select [(ngModel)]="configSelecionada.horaInicio" name="horaInicio">
            <mat-option *ngFor="let h of horasPossiveis" [value]="h">{{ h }}:00</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Hora fim -->
        <mat-form-field appearance="fill" class="campo_form">
          <mat-label>Hora Fim</mat-label>
          <mat-select [(ngModel)]="configSelecionada.horaFim" name="horaFim">
            <mat-option *ngFor="let h of horasPossiveis" [value]="h">{{ h }}:00</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tempo aula -->
        <mat-form-field appearance="fill" class="campo_form">
          <mat-label>Início da Aula a cada</mat-label>
          <mat-select [(ngModel)]="configSelecionada.intervaloMinutos" name="intervaloMinutos">
            <mat-option [value]="10">10 min</mat-option>
            <mat-option [value]="15">15 min</mat-option>
            <mat-option [value]="30">30 min</mat-option>
            <mat-option [value]="60">1h</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Mostrar local -->

        <mat-checkbox [(ngModel)]="configSelecionada.mostrarLocal">
          Mostrar Local
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="configSelecionada.mostrarServico">
          Mostrar Serviço
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="configSelecionada.mostrarEquipto">
          Mostrar Equipamento
        </mat-checkbox>

          <button mat-raised-button type="submit" (click)="salvarConfiguracoes()" class="btn-salvar">
            Salvar
          </button>

      </mat-card-content>
    </mat-card>
  </div>
</div>