<!-- descricao-dialog.component.html -->

<mat-toolbar color="primary" style="margin-bottom: 0px; margin-top: 5px; padding-left:10px;">
  <label style=" display: flex; align-items: center !important;">
  <button mat-icon-button style="border-width:0px; display: flex; width: 20px !important; height: 20px !important; align-items: center !important; justify-content: center !important; background-color: black; color:white; padding: 7px; margin-right: 10px;" (click)="fechar()">
        <mat-icon style="display: flex; align-items: center !important; justify-content: center !important;">arrow_back</mat-icon>
  </button>
  <span style="font-size: 16px !important; padding: 2px;">{{ data.dataAg | date:'dd/MM' }} {{ data.dataAg | date:'EEE' }} {{ data.hour }} - {{data.aluno}} </span>
  </label>
</mat-toolbar>

<mat-dialog-content class="descricao-dialog">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Digite a descrição</mat-label>
    <textarea
      matInput
      [(ngModel)]="descricao"
      rows="10">
    </textarea>
  </mat-form-field>
</mat-dialog-content>

    <div>
      <button mat-raised-button (click)="salvar()" class="btn-salvar" style="margin-left: 25px; margin-bottom: 20px;">
        Salvar
      </button>
    </div>

    