html, body {
 height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: visible;
  /*overflow: hidden;*/
  -webkit-overflow-scrolling: touch;
}
*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  padding-bottom: env(safe-area-inset-bottom);
}

.custom-aluno-dialog {
  border: 2px solid #4CAF50;
  border-radius: 12px;
  overflow: visible;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Aplica o mesmo border-radius dentro do container interno do Material */
::ng-deep .mat-dialog-container {
  border-radius: 12px !important;
}

::ng-deep .custom-aluno-dialog.mat-dialog-container {
  border: 2px solid #4CAF50;
  border-radius: 12px !important;
  padding: 0 !important;
  overflow: visible;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

::ng-deep .mat-dialog-container.custom-aluno-dialog {
  border: 2px solid #4CAF50;
  border-radius: 12px !important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  padding: 0 !important;
  overflow: visible;
}

/* Estilo para o painel do diálogo */
::ng-deep .cdk-overlay-pane.custom-aluno-dialog.mat-mdc-dialog-panel {
  border: 2px solid #4CAF50;
  border-radius: 2px !important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  padding: 0 !important; /* Retira o padding interno */
  overflow: visible;
}

/* Para garantir que o conteúdo do diálogo também tenha o mesmo border-radius */
::ng-deep .mat-dialog-container {
  border-radius: 12px !important;
  padding: 0 !important;  /* Retira qualquer padding dentro do container */
}

/*efeito botão*/
::ng-deep .mat-icon-button .mat-ripple-element {
  background-color: rgba(255, 255, 255, 0.3); 
}

mat-icon {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  overflow: visible !important;
}

.mat-icon-button {
  width: 36px !important;
  height: 36px !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-drawer-content {
  overflow: visible !important;
}

.mat-drawer-container {
  overflow: visible !important;
}

.btn-salvar {
  display: block;
  font: robolt !important;
  font-size: 14px !important;
  padding: 0.7rem 1.2rem;
  background-color: #8c6d9473 !important;
  color: rgb(226, 155, 226) !important;
  border: none !important;;
  border-radius: 18px !important;
  cursor: pointer;
  /*font-weight: bold;*/
  transition: background-color 0.5s ease !important;;
  overflow: hidden !important;;
}

.btn-salvar:hover {
  background-color: #6d5266 !important;
  border-radius: 18px !important;;
  transition: background-color 0.2s ease !important;;
}

.btn-salvar:disabled {
  background-color: #cccccc; /* cinza claro */
  color: #666666;            /* texto mais apagado */
  cursor: not-allowed;
  opacity: 0.4;
}