body {
  overflow: visible;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgb(245, 118, 26);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-menu {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: visible;
  justify-content: space-around;
  align-items: center;
}

.footer-menu button {
  height: 100%;
  width: 40px;
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  align-self: stretch;
  /*border: 1px dashed white;*/
  overflow: visible;
}

.footer-menu mat-icon {
  font-size: 24px;
  line-height: 24px;
  overflow: visible;
}

.tituloh2u {
  padding: 0 8px;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
}

.mat-icon-button__icon {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;
}

mat-icon {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.mat-icon-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

@media (max-width: 750px) {

  .footer {
    /* altura de conteúdo + inset */
    --base-footer-height: 40px; /* a altura "visual" da barra */
    padding-bottom: var(--safe-bottom, 40px); /* queda segura se algo der errado */
    height: calc(var(--base-footer-height) + var(--safe-bottom, 40px));
  }

  .mat-icon-button__icon {
    padding-top: 10px!important;
    align-items: flex-start!important;
  }
}

::ng-deep .mat-icon-button .mat-ripple-element {
  /*background-color: rgba(255, 255, 255, 0.3);*/ /* cor do efeito*/
  background-color: rgba(255, 0, 255, 0.3); /* cor do efeito*/
}

::ng-deep .footer-menu button.mat-icon-button.active {
  /*background-color: rgba(255, 255, 255, 0.2);*/ /* leve destaque*/
  background-color: #c88064ec; /* leve destaque*/
}

::ng-deep .mat-icon-button {
  width: 24px !important;
  height: 24px !important;
  min-width: 24px !important;
  min-height: 24px !important;
  padding: 4px !important;
}

::ng-deep .mat-icon-button .mat-icon {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}
