<ng-container *ngIf="isLoggedIn">
  <mat-toolbar class="footer mat-elevation-z8">
    <!--<div class="tituloh2u">h2u Agenda</div>-->
    <div class="footer-menu" >
      <button mat-icon-button class="mat-icon-button__icon" 
              [matMenuTriggerFor]="menuAgenda" routerLinkActive="active" matTooltip="Agenda">
        <mat-icon>calendar_month</mat-icon>
      </button>

      <mat-menu #menuAgenda="matMenu">
        <button mat-menu-item routerLink="/agenda">Grade</button>
        <button mat-menu-item routerLink="/agendaIndividual">Individual</button>
      </mat-menu>


      <button mat-icon-button class="mat-icon-button__icon" 
              [matMenuTriggerFor]="menuFinanceiro" routerLinkActive="active" matTooltip="Financeiro">
        <mat-icon>attach_money</mat-icon>
      </button>

      <mat-menu #menuFinanceiro="matMenu">
        <button mat-menu-item routerLink="/tabelaPrecoLista">Tabela Preços</button>
        <button mat-menu-item routerLink="/alunoPlanoLista">Aluno Planos</button>
        <button mat-menu-item routerLink="/recebGeralLista">Recebimentos Geral</button>
        <button mat-menu-item routerLink="/recebIndividualLista">Receb Individual</button>
      </mat-menu>

<!--
      <button mat-icon-button class="mat-icon-button__icon"
              routerLink="/financeiro" routerLinkActive="active" matTooltip="Financeiro">
        <mat-icon>attach_money</mat-icon>
      </button>
    -->      
      <button mat-icon-button class="mat-icon-button__icon" 
              [matMenuTriggerFor]="menuCadastro" routerLinkActive="active" matTooltip="Mais">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menuCadastro="matMenu">
        <button mat-menu-item routerLink="/alunoLista">Alunos</button>
        <button mat-menu-item routerLink="/anamneseLista">Anamneses</button>
        <button mat-menu-item routerLink="/localLista">Locais</button>
      </mat-menu>

      <button mat-icon-button class="mat-icon-button__icon" 
               [matMenuTriggerFor]="menuConf" routerLinkActive="active" matTooltip="Configurações">
        <mat-icon>settings</mat-icon>
      </button>

      <mat-menu #menuConf="matMenu">
        <button mat-menu-item routerLink="/configuracoes">Agenda</button>
        <button mat-menu-item routerLink="/configuracoesServicos">Serviços</button>
      </mat-menu>

      <button mat-icon-button class="mat-icon-button__icon"  (click)="logout()" matTooltip="Sair">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</ng-container>
