.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.cards-superiores{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:20px;
}

.mdc-card  {
    min-width:50%;
    max-width:100%;
}

.cdk-header-row {
    min-width:10%;
    max-width:100%;
}

.mat-column-data, .mat-column-valor, .mat-column-status, .mat-column-gateway{
    padding: 0px 5px;
    font-size: 11px;

}

.mat-mdc-card-content {
    padding: 0px 10px 10px;
}

.mat-card-content {
    padding: 0px 10px 10px;
}

.card-plano{
    min-width:50%;
    max-width:100%;
    flex:2;
    /*min-width:420px;*/
}

.card-vencimento{
    flex:1;
    /*min-width:300px;*/
}

.valor{
    font-size:38px;
    font-weight:bold;
    color:#1976d2;
    margin:20px 0;
}

.valor span{
    font-size:18px;
    color:#666;
}

.linha{
    min-width:50%;
    max-width:100%;
    display:flex;
    justify-content:space-between;
    margin:16px 0;
}

.status{
    font-weight:bold;
}

.ativo{
    color:#2e7d32;
}

.vencido{
    color:#d32f2f;
}

.dias{
    font-size:54px;
    text-align:center;
    font-weight:bold;
    color:#1976d2;
    margin-top:15px;
}

.texto{
    text-align:center;
    color:#777;
    margin-bottom:20px;
}

.btn-renovar{
    width:100%;
    margin-top:10px;
}

.historico{
    width:100%;
}

table{
    width:100%;
}

mat-card-header{
    margin-bottom:15px;
}

mat-icon{
    color: #ff7a00;   /* laranja da marca */
    margin-right: 8px;
    vertical-align: middle;
}

mat-card-title{
    display:flex;
    align-items:center;
    gap:8px;
}


.card-pix{
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
}

.pix-qrcode{
    width:240px;
    max-width:100%;
    height:auto;
    margin:20px auto;
    display:block;
    border-radius:8px;
    background:white;
    padding:8px;
}

.texto-pix{
    color:#bdbdbd;
    margin-bottom:16px;
}

.expiracao{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:6px;

    margin:15px 0;

    color:#ff9800;

    font-weight:bold;
}

.btn-copiar{
    width:100%;
}

.planos{
    display:flex;
    flex-wrap:wrap;
    gap:18px

    /*display:flex;
    flex-direction:column;
    gap:15px;*/
}

.plano-card{
    flex:1 1 180px;
    max-width:220px;

    position: relative;
    padding: 14px 18px;
    border-radius: 12px;
    min-height: 150px;
    border:2px solid #444;
    cursor:pointer;
    transition:.2s;
    background:#242024;
}

.plano-card:hover{
    border-color:#ff7a00;
}

.plano-card.selecionado{
    border:2px solid #ff7a00;
    box-shadow:0 0 12px rgba(255,122,0,.4);
}

.valor-antigo{
    text-decoration:line-through;
    color:#999;
}

.valor-promocao{
    color:#27ae60;
    font-size:24px;
    font-weight:bold;
}

.descricao{
    font-size:18px;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

.badge {
    position:absolute;
    top:12px;
    right:12px;
    background:#ff7a00;
    color:#fff;
    padding:4px 10px;
    border-radius:20px;
    font-weight:600;
    font-size:11px;


}